body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  
    align-items: center;      
    min-height: 100vh;         
    text-align: center;
}

h2 {
    text-align: center;
    color: #333;
}

h3 {
    text-align: center;
    color: #555;
}

.listform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px; 
}

input, textarea {
    width: 300px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    height: 100px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #48a1ff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
}

li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

li.completed {
    background-color: #d4edda;
    border-left: 5px solid #28a745;
}

li button {
    margin-right: 10px;
}

.Completed {
    background-color: #f98d27;
}

.delete, .logout {
    margin-right: 10px;
    background-color: #d4edda;
    background-color: rgb(248, 56, 56);
}

.delete:hover, .logout:hover {
    margin-right: 10px;
    background-color: #d4edda;
    background-color: rgb(240, 19, 19);
}

li.pending {
    background-color: #fff;
    border-left: 5px solid #f98d27;  
}

li h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

li p {
    color: #666;
}

button svg {
    vertical-align: middle;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.buttonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.signup {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signup:hover {
    background-color: #48a1ff;
    color: #fff;
}

.googleButton {
    padding: 10px 20px;
    background-color: #DB4437;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.googleButton:hover {
    background-color: #eb5a4d;

}

.googleIcon {
    margin-right: 5px;
}

.orText {
    margin: 0 10px;
    color: #666;
    font-size: 16px;
}

.error {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}

.signUpText {
    margin-top: 20px;
    color: #333;
    font-size: 14px;
}

.link {
    color: #007BFF;
    text-decoration: none;
}
